extends ../layout

block content
    div(class="ContactMe" id="contactMe")
        div(class="section-title-container")
            hr(class="contact-me-hr")
            h2(class="DrSuessQuote") It is better to KNOW HOW TO LEARN than to know. -Dr suess.
            hr(class="contact-me-hr")
        p(class="contact_me_p") Let's get in touch. 
            a(class="contact_me_a" href='https://www.linkedin.com/in/gabrielkrizin/' target="_blank" rel="noopener noreferrer") 
                | LinkedIn, 
            a(class="contact_me_a" href='https://twitter.com/krizininc' target="_blank" rel="noopener noreferrer") 
                | Twitter, 
            a(class="contact_me_a" href='https://www.instagram.com/gkrizin/?hl=en' target="_blank" rel="noopener noreferrer") 
                | Instagram 
            | and 1 801-368-0084 messages work best.
        div(class="social_images")
            a(class="contact_me_a" href='https://www.linkedin.com/in/gabrielkrizin/' target="_blank" rel="noopener noreferrer") 
                img(alt="linked logo" class="social_image" src='images/linkedin.png')
            a(class="contact_me_a" href='https://twitter.com/krizininc' target="_blank" rel="noopener noreferrer") 
                img(alt="twitter logo"  class="social_image" src='images/twitter.png')
            a(class="contact_me_a" href='https://mail.google.com/mail/?view=cm&fs=1&to=gkrizin@gmail.com&su=Subject&body=Message&bcc=gkrizin@gmail.com' target="_blank" rel="noopener noreferrer") 
                img(alt="gmail logo"  class="social_image" src='images/gmail_square.png')

        div(class="footer sign-marker")
            p Made with ❤️ by
                a(href="https://www.linkedin.com/in/trinity-siemer-600587143/" class="btn btn-link") Trinity Siemer