extends ../layout

block content
    div(class="MyThoughts section-container" id="myThoughts")
        div(class="section-title-container")
            hr
            h2 Current Thoughts
            hr

        div(class="cards-container")
            - for (let i = 0; i < data.length; i++)
                - if(data[i].dataValues.blogType === "myThoughts")
                    div(class="card")
                        div(class="card-content")
                            p(class='description') #{data[i].dataValues.content} 
                            p.nameTag - Trinity Siemer
                        