extends ../layout

block content
    div(class="Done_And_Doing section-container" id="doneAndDoing")
        div(class="section-title-container")
            hr
            h2 What I have done &amp; What I am doing
            hr

        div(class="sections-container")
            - for (let i = 0; i < data.length; i++)
                - if(data[i].dataValues.blogType === "doneAndDoing")
                    div(class="section")
                        a(href=`${data[i].dataValues.id}`) 
                            img(class="section-image" src=`${data[i].dataValues.imgUrl}` alt="inventive")
                            div(class="section-content")
                                div(class="section-text")
                                    h3 #{data[i].dataValues.title}
                                    p #{data[i].dataValues.subtitle}

        div(class="btns-container")
            a(class="submitBtn" href="/projects/1") Past Projects