extends ../layout

block content
    div(class="Main")
        include ./components/Navbar
        div(class="gabriel_Background")
            include ./Intro
            include ./about-me
            include ./current-thoughts
            include ./done-and-doing
        div(class="blue_Background")
            include ./my-interests
            include ./inspirations
            include ./contact-me