extends ../layout

block content
    div(class="My_System section-container" id="mySystem")
        div(class="section-title-container")
            hr(class="secondary_hr")
            h3 Quotes That Inspire Me
            hr(class="secondary_hr")
        
        div(class="my_system_list")
            - for (let i = 0; i < data.length; i++)
                - if(data[i].dataValues.blogType === "wayIDoThings")
                    p(class="system_list_text") #{data[i].dataValues.quote}
                