extends ../layout

block content 
    div(class="Intro")
        div
            p Hey, I'm 
            div(class="header-container")
                hr
                h1 Gabriel Krizin
                hr