extends layout

block content
    div(class="Dashboard")
        h1.jumbotron Dashboard
        //- - for(var i = 0; i > data.length; i++)
        //-     - for(var i = 0; i > data[i].dataValues.blogType; i++)
        //-         h3(class="header") #{data[i].dataValues.blogType}
        //-     p(class="header") #{data[i].dataValues.title}
        //-     p(class="header") #{data[i].dataValues.subtitle}