extends layout

block content
  .loginBackgroundImage
    .container
      .loginContainer
        .center
          h1 #{errorStatus}
          p #{Message}
          br
          .btns-container
            a(href="/" class="submitBtn") Go Back