extends layout

block content
    div(class="FoodForThought" id="foodForThought")
        div(class="title")
            hr(class="main_hr")
            h2(class="big-title") My Interests
            hr(class="main_hr")
        div(class="pinterest-container")
            div(class="pinterest-grid")
                div(key="1")
                    img(class="grid-img" src='http://www.umeshmistry.com/Admin/Content/Chicken-Curry-_-Food-Photography.jpg')
            div(class="pinterest-grid")
                div(key="2")
                    img(class="grid-img" src='http://libbyvision.com/wp-content/uploads/2017/04/food_photography_palm_beach_gardens_florida_parched_pig.jpg')
            div(class="pinterest-grid")
                div(key="3")
                    img(class="grid-img" src='https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2017/09/5_ways_to_improve_your_food_photogrpahy.jpg')
            div(class="pinterest-grid")
                div(key="4")
                    img(class="grid-img" src='http://www.umeshmistry.com/Admin/Content/Chicken-Curry-_-Food-Photography.jpg')
            div(class="pinterest-grid")
                div(key="5")
                    img(class="grid-img" src='https://res.cloudinary.com/format-magazine-production/image/upload/c_crop,h_1140,w_1368,x_29,y_0,f_jpg,f_auto/dpr_1.0/c_scale,w_1200,h_1000/food_photography_cover_barry_kirn')
            div(class="pinterest-grid")
                div(key="6")
                    img(class="grid-img" src='http://libbyvision.com/wp-content/uploads/2017/04/food_photography_palm_beach_gardens_florida_parched_pig.jpg')
            div(class="pinterest-grid")
                div(key="7")
                    img(class="grid-img" src='https://res.cloudinary.com/format-magazine-production/image/upload/c_crop,h_1140,w_1368,x_29,y_0,f_jpg,f_auto/dpr_1.0/c_scale,w_1200,h_1000/food_photography_cover_barry_kirn')
            div(class="pinterest-grid")
                div(key="8")
                    img(class="grid-img" src='https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2017/09/5_ways_to_improve_your_food_photogrpahy.jpg')
            div(class="pinterest-grid")
                div(key="9")
                    img(class="grid-img" src='http://www.umeshmistry.com/Admin/Content/Chicken-Curry-_-Food-Photography.jpg')
            div(class="pinterest-grid")
                div(key="10")
                    img(class="grid-img" src='https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2017/09/5_ways_to_improve_your_food_photogrpahy.jpg')
            div(class="pinterest-grid")
                div(key="12")
                    img(class="grid-img" src='http://libbyvision.com/wp-content/uploads/2017/04/food_photography_palm_beach_gardens_florida_parched_pig.jpg')
            div(class="pinterest-grid")
                div(key="13")
                    img(class="grid-img" src='https://res.cloudinary.com/format-magazine-production/image/upload/c_crop,h_1140,w_1368,x_29,y_0,f_jpg,f_auto/dpr_1.0/c_scale,w_1200,h_1000/food_photography_cover_barry_kirn')
            div(class="pinterest-grid")
                div(key="14")
                    img(class="grid-img" src='http://www.umeshmistry.com/Admin/Content/Chicken-Curry-_-Food-Photography.jpg')
            div(class="pinterest-grid")
                div(key="15")
                    img(class="grid-img" src='https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2017/09/5_ways_to_improve_your_food_photogrpahy.jpg')
            div(class="pinterest-grid")
                div(key="16")
                    img(class="grid-img" src='http://libbyvision.com/wp-content/uploads/2017/04/food_photography_palm_beach_gardens_florida_parched_pig.jpg')
            div(class="pinterest-grid")
                div(key="17")
                    img(class="grid-img" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDlTHAFxYOdi3Mt61_EQSxPViic6_y02E5-Gzs44LPXIiALVUq')

        -if(isConfirmed === true)
            form(method="POST" action="/foodForThought")
                div(class="form-group")
                    input(type="text" name="blogType" class="form-control hidden" id="blogType" value="Food" readonly)
                div(class="form-group")
                    label(for="img-url") Image Url
                    input(type="text" class="form-control" name="imgUrl" id="img-url")
                div(class="form-group")
                    label(for="content") Content
                    textarea(type="text" class="form-control" name="content" id="content")
                button(type="submit" class="btn btn-primary") Submit
