extends layout

block content
    div(class="FoodForThought" id="foodForThought")
        div(class="title")
            hr(class="main_hr")
            h2(class="big-title") My Interests
            hr(class="main_hr")
        div(class="pinterest-container")
            - for (let i = 0; i < data.length; i++)
                - if(data[i].dataValues.blogType === "foodForThought")
                    div(class="pinterest-grid")
                        div(key="1")
                            img(class="grid-img" src=`${data[i].dataValues.imgUrl}`)
                        - if(data[i].dataValues.headerLink !== null)
                            a(class="header-link" href=`${data[i].dataValues.headerLink}`) #{data[i].dataValues.title}
                            