extends layout

block content
    div(class="Main")
        include ./Navbar
        div(class="gabriel_Background")
            include ./Intro
            include ./about-me
            include ./current-thoughts
            include ./done-and-doing
        div(class="blue_Background")
            include ./food-for-thought
            include ./my-system
            include ./contact-me