extends layout

block content
     div(class="Intro")
        p(class="intro-small-text") Hey, I'm 
        div(class="big-intro")
            hr(class="intro-hr")
            //- h1(class="intro-big-text") Gabriel Krizin
            h1(class="intro-big-text") Trinity Siemer
            hr(class="intro-hr")