extends layout

block content
    nav(class="navbar")
        button(type="button" class="navbar_btn navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
            i(class="fa fa-bars fa-lg")                      
        div(class="collapse" id="myNavbar")
            div(class="container navbar_list" id="collapseExample")
                ul(class="navlink_list")
                    p
                        a(href="#myThoughts") CURRENT THOUGHTS
                        hr(class="navbar_hr")
                    p
                        a(href="#aboutMe") ABOUT ME
                        hr(class="navbar_hr")
                    p
                        a(href="#foodForThought") FOOD FOR THOUGHT
                        hr(class="navbar_hr")
                    p
                        a(href="#mySystem") MY SYSTEM
                        hr(class="navbar_hr")
                    p
                        a(href="#contactMe") CONNECT

    script 
        include ../public/javascripts/smoothScroll.js