extends layout

block content
	.loginBackgroundImage
		.container
			.loginContainer
				h1.center.loginHeader Register
				form(class="Login_Form" action="/register" method="POST")
					div(class="form-group")
						input(class="form-control form-group" autoFocus type="text" name="username" placeholder="Enter Username")
					div(class="form-group")
						input(class="form-control" type="password" name="password" placeholder="Enter Password")
					div(class="form-group")
						input(class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password")
					
					- if(businessMessage === "Wrong Password")
						div(class="alert alert-danger")
							p You entered the Wrong Password.

					- if(businessMessage === "Wrong Username")
						div(class="alert alert-danger")
							p You entered the Wrong Username.
					div.center.loginBtnContainer
						button(class="btn submitBtn" type="submit") Submit