@media screen and (max-width: 600px) {
  .Content_Block {
    max-width: 80vw;
    margin: 0px 10vw 0px 10vw; }
    .Content_Block .content_blocks {
      display: flex;
      flex-wrap: wrap; }
    .Content_Block .info_section {
      order: 2;
      width: 80vw; }
      .Content_Block .info_section .description {
        max-width: 80vw; }
    .Content_Block .content_block_image {
      flex: 1;
      width: 80vw;
      height: 80vw; } }

.About_Me {
  background-color: whitesmoke;
  height: auto;
  padding-bottom: 50px; }
  .About_Me .Content_Block {
    max-width: 60vw;
    height: auto;
    margin: 0px 20vw 0px 20vw;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap; }
    .About_Me .Content_Block .info_section {
      flex: 2; }
    .About_Me .Content_Block .header_link {
      font-size: 24px;
      line-height: 35px;
      text-align: left; }
    .About_Me .Content_Block .subtitle {
      color: #333;
      text-align: left; }
    .About_Me .Content_Block .description {
      color: #555555;
      font-size: 15px;
      line-height: 22px;
      text-align: left;
      max-width: 38vw; }
      .About_Me .Content_Block .description-noImg {
        text-align: center;
        line-height: 28px;
        font-size: 18px;
        padding: 0px 0px 30px 0px; }
    .About_Me .Content_Block .content_block_image {
      flex: 1;
      width: 20vw;
      height: 20vw;
      margin-right: 40px; }
