form{
  width:100%;}
body {
  margin: 0px;
  padding: 0px; }

.Main {
  z-index: inherit 1010;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.gabriel_Background {
  background-image: url("../../images/gabriel_head_shot.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02); }

.blue_Background {
  background-image: url("../../images/blue_background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02); }

.title {
  display: inline-flex;
  margin-top: 80px; }

.big-title {
  color: #333;
  padding: 5px;
  font-weight: bolder; }

.secondary-big-title {
  color: white;
  padding: 5px;
  font-weight: bolder; }

.main_hr {
  width: 70px;
  height:1px;
  background-color: #333;
  color: #333;
  border: solid #333 0.7px;
  margin-top: 38px; }

.contact-me-hr{
  margin-top:38px;}

.secondary_hr {
  width: 70px;
  height:1px;
  background-color: white;
  color: white;
  border: solid white 0.7px;
  margin-top: 38px; }

  .back-button{
    background-color:#333;
    color:white;
    padding:10px;
  }

  .back-button:hover{
    text-decoration:none;
    color:white;
  }

.Content_Block {
  max-width: 60vw;
  height: auto;
  margin: 0px 20vw 0px 20vw;
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap; }
  .Content_Block .info_section {
    flex: 2; }
  .Content_Block .header_link {
    font-size: 24px;
    line-height: 35px;
    text-align: left; }
  .Content_Block .description {
    color: #555555;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    max-width: 38vw; }
  .Content_Block .content_block_image {
    flex: 1;
    width: 20vw;
    height: 20vw; }
