@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
.ContactMe {
  background-color: whitesmoke;
  padding: 0px 20px 40px 20px; }
  .ContactMe .contact_me_p {
    color: #697686; }
  .ContactMe .contact_me_a {
    color: #4277C6; }
  .ContactMe .social_image {
    width: 100px;
    height: auto; }
  .ContactMe .DrSuessQuote {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 50px; }
