@media screen and (max-width: 750px) {
  .navbar {
    position:absolute;
    background-color: transparent !important;
    display: block !important;
    z-index: 10; }
    .navbar .navbar_btn {
      z-index: 20;
      border: none;
      outline: none;
      background-color: #333333;
      color: white;
      border-radius: 2px;
      position: fixed;
      left: 20px;
      top: 10px; }
    .navbar .navbar_list {
      background-color: white !important;
      width: 100vw;
      position: fixed;
      left: 0px;
      top: 0px; }
    .navbar .navlink_list {
      padding-top: 50px;
      text-align: left; }
      .navbar .navlink_listp, .navbar .navlink_list a {
        padding-left: 30px;
        color: #666666;
        text-decoration: none;
        font-weight: lighter; } }

.navbar {
  display: none;
  background-color: transparent;
  z-index: 10; }
  .navbar .navbar_btns {
    background-color: transparent;
    border: none; }
