@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
@import url("https://fonts.googleapis.com/css?family=Chivo:900");
@import url("https://fonts.googleapis.com/css?family=Chewy|Gloria+Hallelujah");
@media screen and (max-width: 650px) {
  .sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .sections-container .section {
      display: flex;
      flex-wrap: wrap;
      margin: 0px 20px; }
      .sections-container .section .section-content {
        flex: 1;
        min-width: 300px;
        padding: 0px;
        border: solid 1px #333; }
      .sections-container .section .section-image {
        background-size: cover;
        flex: 1;
        min-width: 350px;
        min-height: 300px; } }

.About_Me {
  background-color: #EEEEEE;
  height: auto; }
  .About_Me .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px; }
    .About_Me .section .section-content {
      flex: 1;
      padding: 40px;
      min-width: 300px;
      text-align: left; }
    .About_Me .section .header_link {
      font-size: 24px;
      line-height: 35px; }
    .About_Me .section .subtitle {
      color: #333; }
    .About_Me .section .description {
      color: #555555;
      font-size: 15px;
      line-height: 22px; }
      .About_Me .section .description-noImg {
        line-height: 28px;
        font-size: 18px; }
    .About_Me .section .section-image {
      background-size: cover;
      flex: 1;
      min-width: 350px;
      min-height: 300px; }

@media screen and (max-width: 600px) {
  .Done_And_Doing {
    background-color: #EEEEEE;
    height: auto; }
    .Done_And_Doing .sections-container {
      max-width: 80vw;
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto; }
      .Done_And_Doing .sections-container .section {
        margin: 40px 20px;
        position: relative;
        flex: 1; }
        .Done_And_Doing .sections-container .section:hover .section-content {
          display: block !important;
          width: 100%;
          left: 0;
          color: white; }
        .Done_And_Doing .sections-container .section .section-image {
          display: block;
          width: 100%;
          height: auto; }
        .Done_And_Doing .sections-container .section .section-content {
          display: none !important;
          position: absolute;
          bottom: 0;
          left: 100%;
          right: 0;
          background-color: rgba(51, 51, 51, 0.4);
          overflow: hidden;
          width: 0;
          height: 100%;
          transition: .5s ease; }
          .Done_And_Doing .sections-container .section .section-content .section-text {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            white-space: nowrap; } }

@media screen and (min-width: 650px) {
  .Done_And_Doing {
    background-color: #EEEEEE;
    height: auto; }
    .Done_And_Doing .sections-container {
      max-width: 80vw;
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto; }
      .Done_And_Doing .sections-container .section {
        margin: 40px 20px;
        position: relative;
        flex: 1; }
        .Done_And_Doing .sections-container .section:hover .section-content {
          width: 100%;
          left: 0;
          color: white; }
        .Done_And_Doing .sections-container .section .section-image {
          display: block;
          width: 100%;
          height: auto; }
        .Done_And_Doing .sections-container .section .section-content {
          position: absolute;
          bottom: 0;
          left: 100%;
          right: 0;
          background-color: rgba(51, 51, 51, 0.4);
          overflow: hidden;
          width: 0;
          height: 100%;
          transition: .5s ease; }
          .Done_And_Doing .sections-container .section .section-content .section-text {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            white-space: nowrap; } }

@media screen and (max-width: 650px) {
  .FoodForThought {
    display: none;
    background-color: whitesmoke; }
    .FoodForThought .pinterest-container {
      max-height: 800px;
      margin: 0px 20px;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      overflow: scroll;
      column-count: 2; }
      .FoodForThought .pinterest-container .pinterest-grid {
        margin: 5px; }
        .FoodForThought .pinterest-container .pinterest-grid .grid-img {
          width: 300px; } }

@media screen and (min-width: 650px) {
  .FoodForThought {
    background-color: whitesmoke; }
    .FoodForThought .pinterest-container {
      max-height: 800px;
      margin: 0px 20px;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      column-count: 4; }
      .FoodForThought .pinterest-container .pinterest-grid {
        margin: 5px; }
        .FoodForThought .pinterest-container .pinterest-grid .grid-img {
          width: 300px; } }

.ContactMe {
  background-color: whitesmoke; }
  .ContactMe .contact_me_p {
    color: #555555; }
  .ContactMe .contact_me_a {
    color: #4277C6; }
  .ContactMe .social_image {
    width: 100px;
    height: auto; }
  .ContactMe .DrSuessQuote {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 50px; }
  .ContactMe .sign-marker {
    position: absolute;
    bottom: 10px;
    left: 50px; }

.Intro {
  color: #333;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .Intro p {
    color: #333;
    font-size: 26px;
    line-height: 38px;
    font-style: italic; }
  .Intro .header-container {
    display: inline-flex; }
  .Intro h1 {
    color: #333;
    font-size: 59px;
    padding: 0px 10px; }
  .Intro hr {
    width: 80px;
    color: #333;
    background-color: #333;
    border: solid #333 1px;
    margin-top: 50px; }

.My_System {
  min-height: auto;
  font-family: 'Chivo', sans-serif; }
  .My_System .my_system_list {
    width: 60vw;
    margin: 0px auto;
    padding: 40px 0px;
    color: whitesmoke; }
    .My_System .my_system_list .system_list_text {
      color: whitesmoke;
      font-size: 20px;
      line-height: 38px;
      font-weight: 400;
      text-transform: uppercase; }

.MyThoughts {
  width: 100vw;
  background-color: whitesmoke; }
  .MyThoughts .cards-container {
    width: 90vw;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .MyThoughts .cards-container .card {
      background-color: #EEEEEE;
      flex: 1;
      min-width: 300px;
      margin: 20px; }
      .MyThoughts .cards-container .card .card-content {
        text-align: left;
        padding: 40px 20px; }
      .MyThoughts .cards-container .card .card-image {
        background-size: cover;
        max-width: 100%;
        height: 250px; }

html, body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px; }

.section-container {
  padding: 0px 0px 120px 0px; }

.nameTag {
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: 'Gloria Hallelujah', cursive; }

form {
  width: 100%; }
  form input, form textarea {
    width: 100%;
    margin: 0px; }

.inputStyleOne {
  height: 50px;
  background-color: #EEEEEE;
  border: none;
  border-bottom: solid 1px #EEEEEE;
  border-radius: 0px;
  padding: 0px 10px; }
  .inputStyleOne:focus {
    border-bottom: solid 1px #333; }

.Main {
  z-index: inherit 1010;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.gabriel_Background {
  background-image: url("../../images/Model-Background-Image-2.jpeg");
  background-attachment: fixed;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02); }

.blue_Background {
  background-image: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02); }

.section-title-container {
  display: inline-flex;
  padding: 80px 0px 20px; }
  .section-title-container h2 {
    color: #333;
    padding: 5px;
    font-weight: bolder; }
  .section-title-container h3 {
    color: whitesmoke;
    padding: 5px;
    font-weight: bolder; }
  .section-title-container hr {
    width: 70px;
    height: 1px;
    background-color: #333;
    color: #333;
    border: solid #333 0.7px;
    margin-top: 38px; }
  .section-title-container .secondary_hr {
    width: 70px;
    height: 1px;
    background-color: whitesmoke;
    color: whitesmoke;
    border: solid whitesmoke 0.7px;
    margin-top: 38px; }

.contact-me-hr {
  margin-top: -100px; }

.btns-container {
  width: 100%;
  text-align: center; }
  .btns-container.multiple {
    display: flex;
    flex-wrap: wrap; }
    .btns-container.multiple a, .btns-container.multiple button {
      flex: 1;
      margin: 10px 5px; }
  .btns-container .back-button {
    position: relative;
    margin: 0px 10px;
    background-color: #4277C6;
    color: whitesmoke;
    padding: 10px;
    transition: 0.2s; }
    .btns-container .back-button:hover {
      background-color: #333;
      text-decoration: none;
      color: whitesmoke; }
  .btns-container .page-link {
    margin: 0px 10px;
    border: solid 1px #4277C6;
    padding: 10px; }

.btnsContainer {
  width: 100%;
  display: flex; }
  .btnsContainer .left {
    margin-left: 60px; }
  .btnsContainer .right {
    margin-right: 50px; }

.submitBtn {
  flex: 1;
  padding: 12px;
  margin: 0px auto;
  background-color: #8187b1;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 0px;
  transition: .5s; }
  .submitBtn:hover {
    background-color: #9499bd;
    color: #fafafa; }

.secondaryBtn {
  padding: 12px 80px;
  margin: 0px auto;
  background-color: #333;
  color: whitesmoke;
  font-size: 15px;
  line-height: 1.8;
  border-radius: 0px;
  transition: .5s; }
  .secondaryBtn:hover {
    background-color: #424242;
    color: #fafafa; }
  .secondaryBtn:focus {
    background-color: #424242;
    color: #fafafa; }

.smallSubmitBtn {
  padding: 12px 50px;
  margin: 0px auto;
  background-color: #8187b1;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 0px;
  transition: .5s; }
  .smallSubmitBtn:hover {
    background-color: #9499bd;
    color: #fafafa; }
  .smallSubmitBtn:focus {
    background-color: #9499bd;
    color: #fafafa; }

.smallCancelBtn {
  padding: 12px 50px;
  margin: 0px auto;
  background-color: #EEEEEE;
  color: black;
  font-size: 15px;
  border: 0px;
  border-radius: 0px;
  transition: .5s; }
  .smallCancelBtn:hover {
    background-color: #fdfdfd;
    color: #050505; }
  .smallCancelBtn:focus {
    background-color: #fdfdfd;
    color: #050505; }

.extendedText {
  color: #333;
  font-size: 20px;
  letter-spacing: 8px;
  text-align: center; }

.cursiveWriting {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  line-height: 120px;
  max-width: 500px; }

.Content_Block {
  max-width: 60vw;
  height: auto;
  margin: 0px 20vw 0px 20vw;
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap; }
  .Content_Block .info_section {
    flex: 2; }
  .Content_Block .header_link {
    font-size: 24px;
    line-height: 35px;
    text-align: left; }
  .Content_Block .description {
    color: #555555;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    max-width: 38vw; }
  .Content_Block .content_block_image {
    flex: 1;
    width: 20vw;
    height: 20vw; }

.fa-angle-right {
  color: whitesmoke;
  float: right; }

.fa-trash {
  color: #EEEEEE;
  text-align: right; }

.fa-pencil {
  color: #EEEEEE;
  margin-right: 15px;
  text-align: right; }

.lightHeader {
  font-size: 40px;
  font-weight: 200;
  color: #333; }

.smallSubheader {
  font-size: 12px;
  color: #333;
  font-style: italic; }

.blogDetailsContent {
  font-size: 14px;
  color: #333;
  padding-top: 40px; }

.errorpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .errorpage .content-container {
    flex: 1; }
    .errorpage .content-container h1, .errorpage .content-container h3, .errorpage .content-container p {
      font-family: 'Gloria Hallelujah', cursive; }
  .errorpage .dr-suess-cont-one {
    background-image: url("https://i1.wp.com/bayart.org/wp-content/uploads/2017/11/dr-seuss-quote-be-who-you-are.jpg?resize=544%2C520&ssl=1");
    background-size: cover;
    background-position: right;
    flex: 1;
    height: 98vh;
    min-width: 45vw; }

.dashboardImageHeader {
  margin-left: 200px;
  width: 100%;
  background-image: url("../../images/modelLookingThroughTrees.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .dashboardImageHeader .headerText {
    padding: 100px 100px;
    font-size: 50px;
    color: whitesmoke; }

.Container {
  min-width: 60vw;
  margin-left: 200px;
  padding: 0px 50px; }
  .Container .dashboard-sections-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    margin: 10px 20px; }
    .Container .dashboard-sections-container .dashboard-section {
      flex: 1;
      min-width: 100%;
      padding: 30px 30px; }
  .Container .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 50px; }
    .Container .cardsContainer .editsContainer {
      flex: 1;
      background-color: #f5f5f5;
      color: #333;
      flex-basis: 30%;
      margin: 10px 10px;
      padding: 30px 30px; }
      .Container .cardsContainer .editsContainer input, .Container .cardsContainer .editsContainer textarea {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid #EEEEEE;
        margin: 20px 0px; }
      .Container .cardsContainer .editsContainer .btnsContainer {
        align-self: flex-end; }

.Login {
  width: 80vw;
  padding-left: 20vw;
  background-color: transparent; }
  .Login .Login_Form {
    background-color: whitesmoke; }

.loginBackgroundImage {
  background-image: url("../../images/Login-Background-Image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.loginContainer {
  background-color: #5c6175;
  color: whitesmoke;
  width: 650px;
  padding: 100px 50px;
  margin: 0px auto;
  margin-top: 15vh; }
  .loginContainer .center {
    text-align: center; }
  .loginContainer .loginHeader {
    padding-bottom: 50px; }
  .loginContainer .loginBtnContainer {
    margin-top: 50px; }
    .loginContainer .loginBtnContainer .submitBtn {
      padding: 12px 150px;
      margin: 0px auto;
      background-color: #8187b1;
      color: whitesmoke;
      font-size: 15px;
      border-radius: 0px;
      transition: .5s; }
      .loginContainer .loginBtnContainer .submitBtn:hover {
        background-color: #9499bd;
        color: #fafafa; }
  .loginContainer input {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #EEEEEE; }

.Projects_Index {
  background-color: whitesmoke;
  padding: 20px 20vw;
  height: 100vh; }
  .Projects_Index .content_blocks {
    height: 70vh;
    padding: 20px; }
    .Projects_Index .content_blocks .Project_Cont .Title_Link {
      color: black;
      cursor: pointer;
      text-decoration: none; }

.Project_Details {
  padding: 20px 20vw; }

@media screen and (max-width: 750px) {
  .navbar {
    position: absolute;
    background-color: transparent !important;
    display: block !important;
    z-index: 10; }
    .navbar .navbar_btn {
      z-index: 20;
      border: none;
      outline: none;
      background-color: #333;
      color: #EEEEEE;
      border-radius: 2px;
      position: fixed;
      left: 20px;
      top: 10px; }
    .navbar .navbar_list {
      background-color: #EEEEEE !important;
      width: 100vw;
      position: fixed;
      left: 0px;
      top: 0px; }
    .navbar .navlink_list {
      padding-top: 50px;
      text-align: left; }
      .navbar .navlink_listp, .navbar .navlink_list a {
        padding-left: 30px;
        color: #555555;
        text-decoration: none;
        font-weight: lighter; } }

.navbar {
  position: absolute !important;
  display: none;
  background-color: transparent;
  z-index: 10; }
  .navbar .navbar_btn {
    background-color: transparent;
    background-color: #333;
    color: whitesmoke;
    outline: none;
    border: none; }

.sidebar {
  flex: 1;
  position: fixed;
  border-right: #EEEEEE;
  padding: 50px 25px;
  min-height: 100vh;
  background-color: whitesmoke;
  width: 230px; }
  .sidebar .sidebar-nav {
    list-style: none;
    margin-bottom: 35px; }
    .sidebar .sidebar-nav .side-nav-item {
      list-style: none;
      margin-bottom: 10px; }
      .sidebar .sidebar-nav .side-nav-item a {
        transition: 0.25s; }
        .sidebar .sidebar-nav .side-nav-item a.active {
          font-weight: bold; }
        .sidebar .sidebar-nav .side-nav-item a:hover {
          text-decoration: underline;
          color: #333; }

.blogHeaderImg {
  max-height: 300px;
  background-image: url("../../images/Scattered-Rocks.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .blogHeaderImg .imgHeaderText {
    width: 450px;
    margin: 0px auto;
    text-align: center;
    padding: 100px 0px 100px 120px;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 300; }

.blogContainer {
  margin: 40px; }
  .blogContainer .blogDetails {
    display: flex;
    background-color: #EEEEEE;
    padding: 40px; }
    .blogContainer .blogDetails .column {
      flex: 1; }
    .blogContainer .blogDetails img {
      max-width: 300px; }
    .blogContainer .blogDetails .blogFormControl {
      width: 80%;
      height: 50px;
      background-color: #EEEEEE;
      border: none;
      border-bottom: solid 1px #EEEEEE;
      border-radius: 0px;
      margin: 20px 0px; }
      .blogContainer .blogDetails .blogFormControl:focus {
        border-bottom: solid 1px #333; }

.networksImageHeader {
  background-image: url("../../images/Networking-Event.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px 100px 300px; }

.networkContainer {
  width: 80vw;
  background-color: #f5f5f5;
  padding: 40px 20px; }
  .networkContainer.form {
    background-color: white; }
  .networkContainer .networkDetails {
    flex: 1;
    color: #333; }
    .networkContainer .networkDetails:nth-child(1) {
      font-weight: bold; }
    .networkContainer .networkDetails a, .networkContainer .networkDetails button {
      width: 100%; }
  .networkContainer .inlineFlex {
    display: flex; }
    .networkContainer .inlineFlex.networkHeader {
      font-weight: bold; }

.createNetworkContainer {
  display: flex;
  margin: 50px 0px;
  width: 100%; }
  .createNetworkContainer form {
    flex: 1;
    display: flex;
    flex-flow: row; }
    .createNetworkContainer form input {
      min-width: 100%;
      background-color: #eeeeee; }

.projectsHeaderImage {
  margin-left: 200px;
  background-image: url("../../images/projectsHeaderImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .projectsHeaderImage .headerText {
    padding: 100px 100px;
    font-size: 50px;
    color: whitesmoke; }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* Style the buttons inside the tab */ }
  .tab button, .tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px; }
    .tab button:hover, .tab a:hover {
      background-color: #ddd; }
    .tab button.active, .tab a.active {
      background-color: #ccc; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
