extends ../admin-layout

block content
    .dashboardImageHeader
        h1.headerText Dashboard
    .Container
        .dashboard-sections-container
            div.dashboard-section  
                h3 Networks
                - for(var i = 0; i < networkDetails.length; i++)
                    p #{networkDetails[i].dataValues.clientName}
            
            div.dashboard-section  
                h3 Blogs
                - for(var i = 0; i < blogDetails.length; i++)
                    p #{blogDetails[i].dataValues.title}
            
            div.dashboard-section  
                h3 Projects
                - for(var i = 0; i < projectDetails.length; i++)
                    p #{projectDetails[i].dataValues.title}