extends ../admin-layout

block content
    .networksImageHeader.center
        p.lightHeader Create New Network
    .Container
        .cardsContainer
            .flexNetworkContainer
                form( method="POST" action="/networks/createNew")
                    div
                        input(class="inputStyleOne" name="clientName" type="text" placeholder="Client Name")
                        input(class="inputStyleOne" name="roleAtBusiness" type="text" placeholder="Business Role")
                    div
                        input(class="inputStyleOne" name="phone" type="text" placeholder="Client Phone")
                        input(class="inputStyleOne" name="email" type="text" placeholder="Client Email")
                    div
                        input(class="inputStyleOne" name="businessName" type="text" placeholder="Business Name")
                        input(class="inputStyleOne" name="businessDescription" type="text" placeholder="Business Description")
                    textarea(class="inputStyleOne" name="notes" type="text" placeholder="Notes")
                    div.btnsContainer
                        button(type="submit" class="submitBtn") Create