extends ../admin-layout

block content
    div(class="Projects_Index")
        div(class="content_blocks")
            - for(var i = 0; i < data.length; i++)
                div(class="Project_Cont")
                    h3 
                        a(class="Title_Link" href=`/project/${data[i].dataValues.title}`) #{data[i].dataValues.title}
            
            div(class="btns-container")
                - for(var i = 1; i <= pages; i++)
                    a(class='page-link' href=`/projects/${i}`) #{i}
                a(class="back-button" href="/") Back


            div(class="form")
                -if(isConfirmed === true)
                    form(method="POST" action="/projects")
                        div(class="form-group row")
                            div(class="col col-md-6")
                                label(for="title") Company Title
                                input(type="text" name="title" class="form-control" id="title")
                            div(class="col col-md-6")
                                label(for="subtitle") Your title
                                input(type="text" class="form-control" name="subtitle" id="subtitle")

                        div(class="form-group row")
                            div(class="col col-md-12")
                                label(for="imgUrl") Logo Url ( optional )
                                input(type="text" class="form-control" name="imgUrl" id="imgUrl")

                        div(class="form-group row")
                            div(class="col col-md-12")
                                label(for="content") Description
                                textarea(type="text" class="form-control" name="description" id="content")

                        button(type="submit" class="btn btn-primary") Submit