$primary_title_color:#333;
$secondary_title_color:white;
$main_hr_width:70px;
$hr_color:#333;
$secondary_hr_color:white;
$description_color:#555555;
$description_size:15px;
$primary_blue:#4277C6;


// Input Styles
form{
  width:100%;
  input, textarea{ width:100%; margin:0px;}
}
.inputStyleOne{
  width:60%;
  height:50px;
  background-color:#e9e9e9;
  border:none;
  border-bottom: solid 1px #e9e9e9;
  border-radius:0px;
  padding:0px 10px;
  margin:20px 0px;

  &:focus{
      border-bottom: solid 1px #333;
  }
}

// Main Styles

body {
    margin:0px;
    padding:0px;
}
  
.Main {
  z-index:inherit 1010;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.messageContainer{
  padding:100px 50px; 
  max-width:800px;
  max-height:80vh;
  margin:20px auto;
  text-align:center;
  background-color:#f5f5f5;
  color:black;
}

.gabriel_Background {
  // background-image: url("../../images/gabriel_head_shot.jpg");
  background-image: url("../../images/Model-Background-Image-2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02);
}

.blue_Background {
  background-image: url("../../images/Royal-Blue-Background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02);
}

.title {
  display:inline-flex;
  margin-top:80px;
}

.big-title {
  color:$primary_title_color;
  padding:5px;
  font-weight:bolder;
}

.secondary-big-title {
  color:$secondary_title_color;
  padding:5px;
  font-weight:bolder;
}


.inline{
  display:inline;
  
}

.inlineFlex{
  text-align:left;
  width:100%;

  a{
    float:right;
  }
  
}

.flexContainer{
  display:flex;
  div, input{
    flex:1;
    margin-right:20px;
  }
}

.main_hr {
  width:$main_hr_width;
  height:1px;
  background-color:$hr_color;
  color:$hr_color;
  border:solid $hr_color 0.7px;
  margin-top:38px;
}

.contact-me-hr{
  margin-top:38px;
}

.secondary_hr {
  width:$main_hr_width;
  height:1px;
  background-color:$secondary_hr_color;
  color:$secondary_hr_color;
  border:solid $secondary_hr_color 0.7px;
  margin-top: 38px;
}




// Button Styles

.btns-container{
  width:100%;
  text-align:center;

  .back-button{
    position:relative;
    margin:0px 10px;


    background-color:$primary_blue;
    color:white;
    padding:10px;
    border-radius:5px;
    transition: 0.2s;

    &:hover{
      background-color:#333;      
      text-decoration:none;
      color:white;
    }
  }

  .page-link{
    margin:0px 10px;
    border:solid 1px $primary_blue;
    padding:10px;
  }
}

.btnsContainer{
  width:80%;

  .left{
    margin-left:60px;
  }
  
  .right{
    margin-right:50px;
  }
}

.submitBtn{
  padding:12px 150px;
  margin:0px auto;
  background-color:#8187b1;
  color:white;
  font-size:15px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten(#8187b1, 6);
      color: lighten(white, 2);
  }
  
}
  
.secondaryBtn{
  padding:12px 80px;
  margin:0px auto;
  background-color:#333;
  color:white;
  font-size:15px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten(#333, 6);
      color: lighten(white, 2);
  }

  &:focus{
    background-color: lighten(#333, 6);
    color: lighten(white, 2);
  }
}

.smallSubmitBtn{
  padding:12px 50px;
  margin:0px auto;
  background-color:#8187b1;
  color:white;
  font-size:15px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten(#8187b1, 6);
      color: lighten(white, 2);
  }

  &:focus{
    background-color: lighten(#8187b1, 6);
    color: lighten(white, 2);
  }
}

.smallCancelBtn{
  padding:12px 50px;
  margin:0px auto;
  background-color:#f5f5f5;
  color:black;
  font-size:15px;
  border:0px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten(#f5f5f5, 6);
      color: lighten(black, 2);
  }

  &:focus{
    background-color: lighten(#f5f5f5, 6);
    color: lighten(black, 2);
  }
}

// Text styles

  .extendedText{
    color:#333;
    font-size:20px;
    letter-spacing:8px;
    text-align:center;
  }

  .cursiveWriting{
    font-family: 'Sacramento', cursive;
    font-size:50px;
    line-height:120px;
    max-width:500px;
  }


.Content_Block {
    max-width:60vw;
    height:auto;
    margin:0px 20vw 0px 20vw;
    padding:15px 0px;
    display:flex;
    flex-wrap:wrap;

    .info_section {
        flex:2;
    }

    .header_link {
        font-size:24px;
        line-height:35px;
        text-align:left;
    }

    .description{
        color:$description_color;
        font-size:$description_size;
        line-height: 22px;
        text-align:left;
        max-width:38vw;
    }

    .content_block_image{
        flex:1;
        width:20vw;
        height:20vw;
    }
}




// Icon Styles

.fa-angle-right{
  color:white;
  float:right;
}

.fa-trash{
  color:#f5f5f5;
  text-align:right;
}

.fa-pencil{
  color:#f5f5f5;
  margin-right:15px;
  text-align:right;
}


// Headers

.lightHeader{
  font-size:40px;
  font-weight:200;
  color:#333;

}

.smallSubheader{
  font-size:12px;
  color:#333;
  font-style:italic;
  
}

.blogDetailsContent{
  font-size:14px;
  color:#333;
  padding-top:40px;

}

