@import './_variables';


// Input Styles
html, body{
  scroll-behavior: smooth;
  margin:0px;
  padding:0px;
}

form{
  width:100%;
  input, textarea{ width:100%; margin:0px;}
}

.inputStyleOne{
  width:60%;
  height:50px;
  background-color:$secondary-light-color;
  border:none;
  border-bottom: solid 1px $secondary-light-color;
  border-radius:0px;
  padding:0px 10px;
  margin:20px 0px;

  &:focus{
      border-bottom: solid 1px $primary-text-color;
  }
}

  
.Main {
  z-index:inherit 1010;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.messageContainer{
  padding:100px 50px; 
  max-width:800px;
  max-height:80vh;
  margin:20px auto;
  text-align:center;
  background-color:$secondary-light-color;
  color:black;
}

.gabriel_Background {
  // background-image: url("../../images/gabriel_head_shot.jpg");
  background-image: url("../../images/Model-Background-Image-2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02);
}

.blue_Background {
  background-image: url("../../images/Royal-Blue-Background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0px) scale(1.02);
}

.section-title-container {
  display:inline-flex;
  margin-top:80px;

  h2, h3{
    color:$primary-text-color;
    padding:5px;
    font-weight:bolder;
  }

  hr{
    width:$main_hr_width;
    height:1px;
    background-color:$primary-text-color;
    color:$primary-text-color;
    border:solid $primary-text-color 0.7px;
    margin-top:38px;
  }
  
}

.contact-me-hr{
  margin-top:-100px;
}

.secondary_hr {
  width:$main_hr_width;
  height:1px;
  background-color:$primary-light-color;
  color:$primary-light-color;
  border:solid $primary-light-color 0.7px;
  margin-top: 38px;
}




// Button Styles

.btns-container{
  width:100%;
  text-align:center;

  .back-button{
    position:relative;
    margin:0px 10px;


    background-color:$primary-color;
    color:$primary-light-color;
    padding:10px;
    border-radius:5px;
    transition: 0.2s;

    &:hover{
      background-color:$primary-text-color;      
      text-decoration:none;
      color:$primary-light-color;
    }
  }

  .page-link{
    margin:0px 10px;
    border:solid 1px $primary-color;
    padding:10px;
  }
}

.btnsContainer{
  width:80%;

  .left{
    margin-left:60px;
  }
  
  .right{
    margin-right:50px;
  }
}

.submitBtn{
  padding:12px 150px;
  margin:0px auto;
  background-color:#8187b1;
  color:$primary-light-color;
  font-size:15px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten(#8187b1, 6);
      color: lighten($primary-light-color, 2);
  }
  
}
  
.secondaryBtn{
  padding:12px 80px;
  margin:0px auto;
  background-color:$primary-text-color;
  color:$primary-light-color;
  font-size:15px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten($primary-text-color, 6);
      color: lighten($primary-light-color, 2);
  }

  &:focus{
    background-color: lighten($primary-text-color, 6);
    color: lighten($primary-light-color, 2);
  }
}

.smallSubmitBtn{
  padding:12px 50px;
  margin:0px auto;
  background-color:#8187b1;
  color:$primary-light-color;
  font-size:15px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten(#8187b1, 6);
      color: lighten($primary-light-color, 2);
  }

  &:focus{
    background-color: lighten(#8187b1, 6);
    color: lighten($primary-light-color, 2);
  }
}

.smallCancelBtn{
  padding:12px 50px;
  margin:0px auto;
  background-color:$secondary-light-color;
  color:black;
  font-size:15px;
  border:0px;
  border-radius:0px;
  transition:.5s;

  &:hover{
      background-color: lighten($secondary-light-color, 6);
      color: lighten(black, 2);
  }

  &:focus{
    background-color: lighten($secondary-light-color, 6);
    color: lighten(black, 2);
  }
}

// Text styles

  .extendedText{
    color:$primary-text-color;
    font-size:20px;
    letter-spacing:8px;
    text-align:center;
  }

  .cursiveWriting{
    font-family: 'Sacramento', cursive;
    font-size:50px;
    line-height:120px;
    max-width:500px;
  }


.Content_Block {
    max-width:60vw;
    height:auto;
    margin:0px 20vw 0px 20vw;
    padding:15px 0px;
    display:flex;
    flex-wrap:wrap;

    .info_section {
        flex:2;
    }

    .header_link {
        font-size:24px;
        line-height:35px;
        text-align:left;
    }

    .description{
        color:$description_color;
        font-size:$description_size;
        line-height: 22px;
        text-align:left;
        max-width:38vw;
    }

    .content_block_image{
        flex:1;
        width:20vw;
        height:20vw;
    }
}




// Icon Styles

.fa-angle-right{
  color:$primary-light-color;
  float:right;
}

.fa-trash{
  color:$secondary-light-color;
  text-align:right;
}

.fa-pencil{
  color:$secondary-light-color;
  margin-right:15px;
  text-align:right;
}


// Headers

.lightHeader{
  font-size:40px;
  font-weight:200;
  color:$primary-text-color;

}

.smallSubheader{
  font-size:12px;
  color:$primary-text-color;
  font-style:italic;
  
}

.blogDetailsContent{
  font-size:14px;
  color:$primary-text-color;
  padding-top:40px;

}

