// .admin-body{
//     display:flex;
//     flex-wrap:wrap;
// }


.dashboardImageHeader{
    margin-left:200px;
    width:100%;
    background-image: url("../../images/modelLookingThroughTrees.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .headerText{
        padding:100px 100px;
        font-size:50px;
        color:$primary-light-color;
    }
}

.Container{
    min-width:60vw;
    margin-left:200px;
    padding:0px 50px;

    .dashboard-sections-container{
        display:flex;
        flex-wrap:wrap;
        background-color:$secondary-light-color;
        margin:10px 20px;
        
        .dashboard-section{
            flex:1;
            min-width:100%;
            padding:30px 30px
        }
    }

    .cardsContainer{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        
        padding:0px 50px;

        .editsContainer{
            flex:1;
            background-color:#f5f5f5;
            color:#333;
            flex-basis:30%;
            margin:10px 10px;
            padding:30px 30px;
            

            input, textarea{
                border-radius:0px;
                border:0px;
                border-bottom:1px solid $secondary-light-color;
                margin:20px 0px;
            }

            .btnsContainer{
                align-self:flex-end;
            }
        }
    }
}