body{
    // background-color:lightgrey;
    .Dashboard{

        input, textarea, label, select{
            margin:5px 10vw;
            width:60vw;
        }

        button{
            border:none;
            position:relative;

        }

        .header-text{
            text-align:center;
            background-color:pink;
        }
    }
    

    .addSection{
        width:80vw;
        margin:10px 10vw;
        padding:5px;
        border-radius:5px;
        background-color:whitesmoke; 
        text-align:center;
    }
}