$navbar_hr_width: 100%;

@media screen and (max-width:750px) {
    .navbar {
        position:absolute;
        background-color:transparent !important;
        display:block !important;
        z-index:10;

        .navbar_btn {
            z-index:20;
            border:none;
            outline:none;
            background-color:$primary-text-color;
            color:$secondary-light-color;
            border-radius:2px;
            position:fixed;
            left:20px;
            top:10px;
        }

        .navbar_list{
            background-color:$secondary-light-color !important;
            width:100vw;
            position:fixed;
            left:0px;
            top:0px;
        }

        .navlink_list {
            padding-top:50px;
            text-align:left;

            &p, a{
                padding-left:30px;
                color:$description_color;
                text-decoration: none;
                font-weight:lighter;
            }
        }
    }
}

.navbar {
    position:absolute !important;
    display:none;
    background-color:transparent;
    z-index:10;

    .navbar_btn{
        background-color:transparent;
        background-color:$primary-text-color;
        color:$primary-light-color;
        outline:none;
        border:none;
    }
}


.sidebar {
    float:left;
    position:fixed;
    border-right: $secondary-light-color;
    padding: 50px 25px;
    min-height: 100vh;
    background-color: $primary-light-color;
    width:200px;
  
    .sidebar-nav {
      list-style: none;
      margin-bottom: 35px;
  
      .side-nav-item {
        list-style: none;
        margin-bottom: 10px;
  
        a {
          transition: 0.25s;
          &.active {
            font-weight: bold;
          }
  
          &:hover {
            text-decoration: underline;
            color: $primary-text-color;
          }
        }
      }
    }
  }