.Projects_Index{
    background-color:whitesmoke;
    padding:20px 20vw;
    height:100vh;

    .content_blocks{
        height:70vh;
        padding:20px;
        .Project_Cont{
            .Title_Link{
                color:black;
                cursor:pointer;
                text-decoration:none;
            }
        }
    }
}

.Project_Details{
    padding:20px 20vw;
    .Project_Cont{

    }
}