// APP
$primary-text-color: #333;
$primary-light-color:whitesmoke;
$secondary-light-color:#EEEEEE;
$description_color:#555555;
$primary-color:#4277C6;


$section-height:800px;
$description_size:15px;
$hr_width:70px;
$main_hr_width:70px;
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
@import url('https://fonts.googleapis.com/css?family=Chivo:900');