@import '../_variables';


@media screen and (max-width:650px) {
    .sections-container {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;

        .section {
            display:flex;
            flex-wrap:wrap;
            margin:0px 20px;

            .section-content {
                flex:1;
                min-width:300px;
                padding:0px;
                border:solid 1px $primary-text-color;
                
            }

            .section-image{
                background-size:cover;
                flex:1;
                min-width:350px;
                min-height:300px;
                
            }
        }
    }
}

.About_Me {
    background-color:$secondary-light-color;
    height:auto;
    padding-bottom:50px;

    .section {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        padding:10px 0px;
        

        .section-content {
            flex:1;
            padding:40px;
            min-width:300px;
            text-align:left;
        }

        .header_link {
            font-size:24px;
            line-height:35px;
        }

        .subtitle {
            color: $primary-text-color;
        }

        .description{
            color:$description_color;
            font-size:$description_size;
            line-height: 22px;

            &-noImg{
                line-height:28px;
                font-size:18px;
            }
        }

        .section-image{
            background-size:cover;
            flex:1;
            min-width:350px;
            min-height:300px;
        }
    }
}