@import '../_variables';

.ContactMe {
    background-color:$primary-light-color;

    .contact_me_p {
        color: $description_color;
    }

    .contact_me_a {
        color: $primary-color;
    }

    .social_image {
        width:100px;
        height:auto;
    }

    .DrSuessQuote {
        font-family: 'Sue Ellen Francisco', cursive;
        font-size:50px;
    }

    .sign-marker{
        position:absolute;
        bottom:10px;
        left:50px;
    }
}

