@import '../_variables';


@media screen and (max-width:600px) {
    .Done_And_Doing {
        background-color:$secondary-light-color;
        height:auto;
    
        .sections-container {
            max-width: 80vw;
            display:flex;
            flex-wrap:wrap;
            margin:0px auto;
    
            .section {
                margin:40px 20px;
                position: relative;
                flex:1;
            
                &:hover .section-content {
                    display:block !important;
                    width: 100%;
                    left: 0;
                    color:white;
                }
            
                .section-image {
                  display: block;
                  width: 100%;
                  height: auto;
                }
                
                .section-content {
                    display:none !important;
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    right: 0;
                    background-color:rgba(#333, 0.4);   
                    overflow: hidden;
                    width: 0;
                    height: 100%;
                    transition: .5s ease;
            
                  .section-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                  }
                }
            }
        }
    }
}




@media screen and (min-width:650px){
    
    .Done_And_Doing {
        background-color:$secondary-light-color;
        height:auto;
    
        .sections-container {
            max-width: 80vw;
            display:flex;
            flex-wrap:wrap;
            margin:0px auto;
    
            .section {
                margin:40px 20px;
                position: relative;
                flex:1;
            
                &:hover .section-content {
                    width: 100%;
                    left: 0;
                    color:white;
                }
            
                .section-image {
                  display: block;
                  width: 100%;
                  height: auto;
                }
                
                .section-content {
                  position: absolute;
                  bottom: 0;
                  left: 100%;
                  right: 0;
                  background-color:rgba(#333, 0.4);   
                  overflow: hidden;
                  width: 0;
                  height: 100%;
                  transition: .5s ease;
            
                  .section-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                  }
                }
              }
        }
    }
}