@import '../_variables';


@media screen and (max-width:350px) {
    .FoodForThought {
        .pinterest-container{
            column-count:2;
            
        }
    
    }
}

.FoodForThought {
    background-color: $primary-light-color;
    padding-bottom:60px;
    .pinterest-container{
        max-height:800px;
        margin:0px 20px;
        display:flex;
        flex-flow: column wrap;
        align-content: center;
        column-count:4;
        
        .pinterest-grid{
            margin:5px;

            .grid-img {
                width:300px;
            }
        }
    }
}