@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
$main-font: 'Roboto', sans-serif;

@import '../_variables';


.Intro {
    color:$primary-text-color;
    font-family:$main-font;
    height:100vh;
    display:flex;
    text-align:center;
    justify-content: center;
    align-items:center;
    
    p{
        color: $primary-text-color;
        font-size:26px;
        line-height:38px;
        font-style: italic;
    }

    .header-container{
        display:inline-flex;
    }

    h1{
        color: $primary-text-color;
        font-size:59px;
        // line-height:70px;
        padding:0px 10px;
    }

    hr{
        width:80px;
        color:$primary-text-color;
        background-color:$primary-text-color;
        border:solid $primary-text-color 1px;
        margin-top:50px;
    }
}