@import url('https://fonts.googleapis.com/css?family=Chivo:900');

.My_System {
    min-height:auto;
    font-family: 'Chivo', sans-serif;

    .my_system_list {
        width:60vw;
        margin:0px 20vw;
        padding:40px 0px;
        color:white;

        .system_list_text {
            font-size:20px;
            line-height:38px;
            font-weight:400;
            text-transform:uppercase;
            
        }
    }
}